.person{
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    filter: drop-shadow(0px 0px 15px var(--primary-color));
    box-shadow: 0px 0px 25px var(--primary-color);
}




.about::before{
    position: absolute;
    content: "";
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 45%;
    transform: translate(-50%,-50%);
    border-radius: 70%;
    background: rgba(247, 21, 51, 0.438);
    background: radial-gradient(circle, var(--shadow-color) 10%, rgba(157,190,230,0) 40%);
}